
/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);


body{
   margin: 0;
   padding: 0; 
}

/* scroll bar */
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa726), to(#f47f07));
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px -2px rgba(0,0,0, .25);
}

::-webkit-scrollbar-track{
    background: rgba(255, 152, 0, .2);
}
/* end scroll bar */

/* start navigation */ 

.nav-start{
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 1rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1.7rem;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

#profile-wrapper{
    text-align: center;
}

#top{
    min-height: 70vh;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.site-buttons{
    align-items: center;
    justify-content: center;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 2rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}



/* End Banner Area */ 

/* Start About Area */ 

.site-main .about-area{
    padding: 4rem 2rem;
}

.site-main .about-area .about-title h2 > span{
    font-size: 2rem;
    display: inline;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 


/* Start Brand Area */ 

.site-main .brand-area{
    padding: 1rem 10rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 15rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #ffa726;
    width: 200px;
    height: 200px;
    margin-left: 300px;
    z-index: -1;
}

.height{
    height: 400px;
}

.call{
    color: #ffa726;
}

.num{
    display: inline;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px;
    color: #ffa726;
    z-index: 2;
    font-size: 2rem;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px;
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 1rem;
}

/* End Brand Area */ 

/* Services Area */ 

.serv{
    min-height: 80vh;
}

.site-main .services-area{
    padding: 1rem 1rem;
}

.site-main .services-area .services-title{
    padding: 0 2rem;
}

.site-main .services-area .services-title h1{
    font-size: 25px;
}

.site-main > .services-area .services{
    background: #fff;
    padding: 1rem 1rem;
    width: 16rem;
    margin: 1rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}



/* End Services Area */ 


/* Project Area */ 

.site-main .project-area{
    padding: 1rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px;
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px;
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */ 


/* About Me */ 

.site-main .about-area .about-title p{
    padding: 1rem 7rem;
}

.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
    padding: 2rem;
}

.site-main .about-area .client .about-client{
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p{
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: #ffa726;
    width: 12px;
    height: 12px;
}



/* End About Me */ 

/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
    padding: 5rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px ;
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 2rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: none;
    background: transparent;
    color: white;
    font: normal 500 17px/20px;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 1rem;
}

/* End subscribe me */ 

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px;
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: #fff;
}

footer.footer-area .social a:hover > i{
    color: black;
}


/* End Footer */ 

/* social icons */

.social-icons{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.social-icons si{
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}

.social-menu ul li{
    list-style: none;
    margin: 0 0;
}

.social-menu ul li .fab {
    font-size: 20px;
    line-height: 40px;
    transition: .6s;
    color: #000;
    
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li .fas:hover{
    color: #fff;
}

.social-menu ul li .fas {
    font-size: 20px;
    line-height: 40px;
    transition: .3s;
    color: #000;
    justify-content: center;
    text-align: center;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .3s;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
}

.social-menu ul li a:hover{
    transform: translate(-8px, 0);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #0077B5;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color: #131418;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color: #55acee;
}

.social-menu ul li:nth-child(4) a:hover{
    background-color: #e4405f;
}

.social-menu ul li:nth-child(5) a:hover{
    background-color: #dd4b39;
}

#to-top{
    outline: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
    color: white;
    cursor: pointer;
    border: none;
}

#to-top .fab{
    color: #ffa726;
}

#to-top .fab:active{
    color: #fff;
}

#to-top:active{
    background: #f47f07;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
}

#to-top .fab:hover{
    color: #fff;
}

#to-top:hover{
    background: #f47f07;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
}

.curved-div {
    background: #ff9800;
    color: #fff;
    text-align: center;
}

.curved-div h1 {
    font-size: 6rem;
    margin-top: 0;
}

.curved-div p {
    font-size: 1rem;
}

.curved svg{
    display: block;
}


/* contact info */

.contact-info{
    margin-top: 3rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.section-contact-info{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
.con-card{
    background: white;
    margin: 1rem 10px;
    width: 200;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
  
.con-card-icon{
    font-size: 28px;
    background: orange;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
    align-items: center;
    justify-content: center;
}
  
.con-card:hover .con-card-icon{
    background: none;
    color: orange;
    transform: scale(1.6);
}
  
.con-card p{
    margin-top: 20px;
    font-weight: 600;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}
  
.con-card:hover p{
    max-height: 40px;
    opacity: 1;
}
  
  

  
/* end contact info */

.contact-form{
    max-width: 100%;
    max-height: 70vh;
    background: orange;
    padding: 0px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  }
.contact-form h1{
    margin-top: 0;
    font-weight: 500;
    color: white;
}
.txtb{
    width: 100%;
    border:2px solid orange;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
    height: 80px;
    color: white;
}

.hei{
    height: 120px;
}

.txtb label{
    display: block;
    text-align: left;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
.txtb input,.txtb textarea{ 
    width: 100%;
    height: 20px;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.btn-sub{
    padding: 4px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 50%;
    font-weight: 500;
}
  


@media screen and (max-width:800px) {
    .contact-info{
      flex-direction: column;
    }
    .con-card{
      width: 100%;
      max-width: 300px;
      margin: 10px 0;
    }
  }