<!-- development banner -->
<div class="sticky-top w-100 fx  elegant-color txt text-center bantext">
    <div class="text-white">
        <div class="text-white covid text-capitalize text-center cov">Under active development, Stay tuned for updates on features and release dates!</div>
    </div>
</div>


<!-- covid-19 banner -->
<!-- <div class="sticky-top w-100 fx blue-gradient text-center">
    <div class="text-white">
        <div class="py-1 text-white covid text-capitalize text-center cov">The Digital transformation your Business needs during this period of COVID-19, Stay Safe, Stay Connected!</div>
    </div>
</div> -->


<!-- black lives matter banner -->
<!-- <div class="sticky-top w-100 fx elegant-color text-center">
    <div class="text-white">
        <div class="py-1 text-white covid text-capitalize text-center cov">To be silent is to stand for, we stand against racism and injustice, black lives matter!</div>
    </div>
</div> -->