{% load static %}


{% block content %}
<!--Navbar -->
    <nav class="navbar_fixed py-3 mt-3 sticky-top txt navbar navbar-expand-lg navbar-dark orange">
        <div class="container">
            <ul class="navbar-nav mr-auto nav-flex-icons">
                <li class="nav-item avatar">
                  <a class="nav-link p-0" href="#">
                    <img src="{% static 'img/pro.png' %}" class="rounded-circle z-depth-0"
                      alt="avatar image" height="50">
                  </a>
                </li>
            </ul>
            <a class="pl-3 mr-auto navbar-brand brand pt-2 txt" href="">Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link items" href="{% url 'core:home' %}">Home</a>
                    </li>
                    {% if title == 'Abdi Adan | Portfolio' %}
                    <li class="nav-item">
                        <a class="nav-link items" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link items" href="#why">Why me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link items" href="#projects">Projects</a>
                    </li>
                    {% if testimonial %}
                    <li class="nav-item">
                        <a class="nav-link items" href="#testimonials">Testimonials</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link items" href="{% url 'core:post_list' %}">Blog</a>
                    </li>
                    {% if title == 'Abdi Adan | Portfolio' %}
                    <li class="nav-item mx-2">
                        <div class="btn-submit">
                            <a href="#contact">
                                <button type="button" class="round text-capitalize text-white btn btn-md btn-outline-white float-right">Contact</button>
                            </a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
<!--/.Navbar -->

{% endblock %}