{% extends "base.html" %}

{% load blog_tags %}

{% load static %}

<title>{% block title %} {{ title }} {% endblock %}</title>

{% block content %}


    <!--Main layout-->
    <div class="container">
    <main class="pt-5">
        <div class="container">
            <br>
            <!--Section: Post-->
            <section class="mt-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-8 mb-4">
                        

                        {% if post.banner %}
                            <!--Banner Image-->
                            <div class="card mb-4 wow fadeIn">
                                <img src="{{ post.banner }}" alt="{{post.title}}" class="img-fluid">
                            </div>
                            <!--/.Banner Image-->
                        {% else %}
                            <!--Banner Image-->
                            <div class="card mb-4 wow fadeIn">
                                <img src="{% static 'img/img1.jpg' %}" alt="{{post.title}}" class="img-fluid">
                            </div>
                            <!--/.Banner Image-->
                        {% endif %}

                        <!--Blog title and meta-->
                        <div class="card mb-4 wow fadeIn">
                            <!--Card content-->
                            <div class="card-body text-center">
                                <p class="h3 my-4"><strong>{{post.title}}</strong></p>
                                <!-- make author name capitalized -->
                                <p class=" text-capitalize">
                                    Created {{ post.created }} <br>
                                    Published {{ post.publish }} by <strong>{{ post.author }}</strong><br>
                                    Last Updated {{ post.updated }}
                                </p>
                                <!-- add created date, last updated-->
                            </div>
                        </div>
                        <!-- End of Blog title and meta-->

                        <!--Intro Card-->
                        <div class="card mb-4 wow fadeIn">
                            <!--Card content-->
                            <div class="card-body">
                                <div class="media d-block d-md-flex mt-3">
                                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                        <h5 class="mt-0 font-weight-bold">Introduction
                                        </h5>
                                        <p>{{ post.intro|markdown }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Intro Card-->

                        <!--Body-->
                        <div class="card mb-4 wow fadeIn">
                            <!--Card content-->
                            <div class="card-body">
                                <p>{{ post.body|markdown }}</p>
                            </div>
                        </div>
                        <!-- End of Body-->

                        <!--Consclusion-->
                        <div class="card mb-4 wow fadeIn">
                            <!--Card content-->
                            <div class="card-body">

                                <div class="media d-block d-md-flex mt-3">
                                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                        <h5 class="mt-0 font-weight-bold">Conclusion
                                        </h5>
                                        <p>{{ post.conclusion|markdown }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Consclusion-->

                        <!--Comments-->
                        <div class=" card-comments mb-3 wow fadeIn">
                            <div class="card p-3 mb-1 font-weight-bold orange text-light">
                                {% with comments.count as total_comments %}
                                    {{ total_comments }} comment{{ total_comments|pluralize }}
                                {% endwith %}
                            </div>
                            {% if comments %}
                                {% for comment in comments %}
                                    <div class="media d-block d-md-flex my-3 card p-3">
                                        <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                            <h5 class="mt-0 font-weight-bold">
                                                {{ comment.name }}
                                                <a class="pull-right">
                                                    <i class="text-warning fas fa-reply"></i>
                                                </a>
                                            </h5>
                                            <p class="text-secondary">{{ comment.created }}</p>
                                            {{ comment.body|linebreaks }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                    <div class="card p-3 my-3">
                                        <p>There are no comments yet.</p>
                                    </div>  
                            {% endif %}

                            <div class="mb-3 wow fadeIn">
                                {% if new_comment %}
                                    <div class="card p-3 mb-2 font-weight-bold orange text-light">Your comment has been added.</div>
                                    <div class="card p-3 mb-2 font-weight-bold orange text-light">Leave another comment?</div>
                                    <div class=" card card-body">
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{ comment_form.as_p }}
                                            <p class="text-center mt-4">
                                                <button class="btn btn-orange btn-lg text-light" type="submit">Post</button>
                                            </p>
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="card p-3 mb-2 font-weight-bold orange text-light">Please leave a reply</div>
                                    <div class=" card card-body">
                                        <form method="POST">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                {{ comment_form.as_p }}
                                            </div>
                                            
                                            <p class="text-center mt-4">
                                                <button class="btn btn-orange btn-lg text-light" type="submit">Post</button>
                                            </p>

                                    </div>
                                {% endif %}
                            </div>
                            
                        </div>
                        <!--End of Comments-->
                    </div>
                    <!--Grid column-->



                    <!--Grid column-->
                    <div class="col-md-4 mb-4">
                        
                            <div class="card mb-4 text-center wow fadeIn">
                              <!--Card content-->
                              <div class="card-body">
                                <img id="profile-pic" class="av-main" src="{% static 'img/pic.jpg' %}" alt="">
                                <p class="font-weight-bold mt-1">Hi, I'm {{ active_profile.name }}</p>
                                <p class="font-weight-bold">
                                  <a class="text-black mr-1"><i class="fas fa-envelope-open-text"></i></a>
                                  {{ active_profile.email }}
                                </p>
                              </div>
                            </div>
                        
                        
                        {% if post.tags.all %}
                            <div class="card mb-3 mt-3 justify-content-center">
                                    <p class="tags px-3 py-2">Tags: {{ post.tags.all|join:", " }}</p>
                            </div>
                        {% endif %}

                        
                        <!-- {% if new_suggestion == None %}
                        <div class="card mb-4 orange text-center wow fadeIn">
                            <div class="mt-3 text-light font-weight-bold">Suggest a topic for me to write about</div>
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ suggestion_form.as_p }}
                                    <div class="text-center mt-3">
                                        <button class="btn btn-outline-white font-weight-bold text-uppercaser" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endif %} -->

                        <!--Card-->
                        <div class="card mb-4 wow fadeIn">
                            <div class="card-header">Related articles</div>
                                {% for post in similar_posts %}
                                    <div class="card-body">
                                        <div class="list-unstyled">
                                            <div class="media">
                                                <div class="media-body">
                                                    <a href="{{ post.get_absolute_url }}">
                                                        <h5 class="mt-0 mb-1 font-weight-bold text-dark">{{ post.title }}</h5>
                                                    </a>
                                                    {{ post.intro|markdown|truncatewords_html:20 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="card-body">
                                        <div class="list-unstyled">
                                            <div class="media">
                                                <div class="media-body">
                                                    <p class="mt-0 mb-1 font-weight-bold text-dark">There are no similar posts as of yet<p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Post-->

        </div>
    </main>
    <!--Main layout-->
    </div>


    
{% endblock %}