{% extends "base.html" %}

{% load static %}

{% block title %} <title>Abdi Adan | Blog</title> {% endblock %}


{% block content %}

    <div class="container pt-3">
      <!--Main layout-->
      <main class="pt-5">
        <div class="container">
          <!--Section: Post-->
          <section class="mt-3">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-8">
                <!--Blog list heading-->
                <div class="card wow fadeIn">
                  <div class="">
                    <div class="card card-body orange subscribe h-100">
                      <div class="row">
                        <div class="col-lg-12 text-center subscribe-title">
                          <h4 class="text-uppercase text-light">
                            My Blog Posts
                          </h4>
                          <p class="para text-light my-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Deserunt porro illum ratione tempore
                            consequuntur modi soluta obcaecati, temporibus
                            quaerat laborum quis eum sapiente, architecto
                            doloribus consectetur reprehenderit esse repellat
                            aliquam maxime, nam ab iusto! Esse voluptates quas
                            cum id deserunt?
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/.end of Blog list heading-->
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4">
                <!--Card : Dynamic content wrapper-->
                <div class="card mb-4 text-center wow fadeIn">
                  <!--Card content-->
                  <div class="card-body h-100">
                    <div class="text-dark font-weight-bold">
                      Do you want to get informed about new articles?
                    </div>
                    <!-- Default form login -->
                    <form>
                      <br>
                      <input
                        type="email"
                        id="defaultFormLoginEmailEx"
                        class=" btn-outline-warning orange text-center form-control"
                        placeholder="Your email"
                      />
                      <div class="text-center mt-2">
                        <button
                          class="btn btn-warning text-light btn-md font-weight-bold"
                          type="submit"
                        >
                          Sign up
                        </button>
                      </div>
                    </form>
                    <!-- Default form login -->
                  </div>
                </div>
                <!--/.Card : Dynamic content wrapper-->
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </section>
          <!--Section: Post-->
        </div>
      </main>
      <!--Main layout-->
    </div>

        <!-- post list section -->
        <section id="articles" class="viewport">
          <div class="container ">
              <section class="blogs">
                  <div class="container">
                    <div class="row">
                        {% for post in posts %}
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                                <div class="card card-body p-2 h-100 post">
                                    <div class="our-project mx-1">
                                        <div class="img img-wrapper">
                                            <a class="">
                                                <img src="{% static 'img/img1.jpg' %}" alt="portfolio-8" class="img-fluid">
                                            </a>
                                            <div class="likes">
                                                <span class="heart">
                                                        <i class="fas fa-heart"></i> 382
                                                </span>
                                            </div>
                                        </div>
                                        <div class="content-wrapper">
                                            <h3 class="title">{{ post.title }}</h3>
                                            <p>Published {{ post.publish }} by {{ post.author }}</p>
                                            <p>{{ post.body|truncatewords:20|linebreaks }}</p>
                                        </div>
                                        <div class="comments-readmore justify-contents-center align-items-center">
                                            <a href="{{ post.get_absolute_url }}"><button class="text-capitalize text-white btn orange">Read</button></a>
                                            <div class="comments">
                                                <span><i class="fas fa-comment-alt"></i></span>
                                                <span class="comment-count">382</span>
                                                <span class="text">comments</span>
                                            </div>
                                            <div class="readmore">
                                                <div class="dot dot1"></div>
                                                <div class="dot dot2"></div>
                                                <div class="dot dot3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                  </div>
              </section>
          </div>
      </section>
      <!-- end of post list section -->

{% endblock %}