{% extends "base.html" %}

{% load static %}



{% block content %}

        <div class="timeline container-fluid">
            <ul>
                <li>
                    <div class="card px-3 py-3">
                        <div class="content">
                            <h3>What is lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aspernatur odit, fugiat neque labore illo perferendis dolorem nam facere pariatur veritatis assumenda libero voluptatem ut obcaecati modi. Repudiandae, asperiores unde?</p>
    
                        </div>
                        <div class="time">
                            <h4>January 2018</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card px-3 py-3">
                        <div class="content">
                            <h3>What is lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aspernatur odit, fugiat neque labore illo perferendis dolorem nam facere pariatur veritatis assumenda libero voluptatem ut obcaecati modi. Repudiandae, asperiores unde?</p>
    
                        </div>
                        <div class="time">
                            <h4>January 2018</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card px-3 py-3">
                        <div class="content">
                            <h3>What is lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aspernatur odit, fugiat neque labore illo perferendis dolorem nam facere pariatur veritatis assumenda libero voluptatem ut obcaecati modi. Repudiandae, asperiores unde?</p>
    
                        </div>
                        <div class="time">
                            <h4>January 2018</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card px-3 py-3">
                        <div class="content">
                            <h3>What is lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aspernatur odit, fugiat neque labore illo perferendis dolorem nam facere pariatur veritatis assumenda libero voluptatem ut obcaecati modi. Repudiandae, asperiores unde?</p>
    
                        </div>
                        <div class="time">
                            <h4>January 2018</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card px-3 py-3">
                        <div class="content">
                            <h3>What is lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aspernatur odit, fugiat neque labore illo perferendis dolorem nam facere pariatur veritatis assumenda libero voluptatem ut obcaecati modi. Repudiandae, asperiores unde?</p>
    
                        </div>
                        <div class="time">
                            <h4>January 2018</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card px-3 py-3">
                        <div class="content">
                            <h3>What is lorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aspernatur odit, fugiat neque labore illo perferendis dolorem nam facere pariatur veritatis assumenda libero voluptatem ut obcaecati modi. Repudiandae, asperiores unde?</p>
    
                        </div>
                        <div class="time">
                            <h4>January 2018</h4>
                        </div>
                    </div>
                </li>
                <div style="clear: both;" class=""></div>
            </ul>
        </div>

{% endblock %}